DEALERSOCKET_URL=https://bb.dealersocket.com
DEALERSOCKET_USERNAME=
DEALERSOCKET_PASSWORD=
DEALERSOCKET_TOTP_SECRET=
MFA_SECRET=
DEALERSOCKET_ALLOW_MANUAL_LOGIN=false
DEALERSOCKET_DEALERSHIP=Bert Ogden Mission Mazda
DEALERSOCKET_REPORT_NAME=BDC Activity Report Sales
DEALERSOCKET_ROLE=* All Sales Power Team
WHATSAPP_URL=https://web.whatsapp.com
WHATSAPP_CHAT_NAME=Me
WHATSAPP_REQUIRED=false
CHROME_CHANNEL=chrome
CHROME_PROFILE_PATH=../data/sales-activity/chrome-profile
